<div class="container-xxl">
  <div class="row">
    <div class="card card-1 col-sm-12 col-md-8 col-lg-6 ">
        <div class="div-dev-img rounded-circle">
            <img class="imagen-dev" src="assets/developer-bro.svg" alt="img-programador" />
        </div>
    </div>
    <div class="card card-2 col-sm-12 col-md-4 col-lg-6 ">
      <div class="card-body">
        <div>
            <h1 class="card-title">Hola , bienvenido a mi pagina!</h1>
            <p class="card-text">
                Soy Alan Cuevas, Web developer y actualmente estudio la carrera de Ing. Informatica. 
            </p>
            <p>Realmente apasionado por el desarrollo de software en general, en mis tiempos libres paso la mayor parte del tiempo programando y tomando cafe.</p>
        </div>
        <div>
            <button class="btn btn-warning">Instagram</button>
            <button class="btn btn-warning">Linkedin</button>
            <button class="btn btn-warning">Discord</button>
            <button class="btn btn-warning">Github</button>
        </div>
       
      </div>
    </div>
    <div class="row"></div>
  </div>
</div>
