

.containerPadre{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.container1{
    display: none;
}
.container2{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.container3{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

@media only screen and (max-width: 768px) {
    .containerPadre{
        width: 100%;
        display: flex;

        
      }
    
    .container1{
        width: 50%;
        display: flex;
    }
    .container2{
        display: none;
    }
    .container3{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
  

}