<!-- <mat-toolbar class="toolbar-nav">
  <div class="containerPadre">
    <div class="container1">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="container2">
      <span>Alan Cuevas Melendez</span>

    </div>
    <div class="container3">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Contact
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
       About
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        Proyects
       </button>
       <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        Habilities
       </button>
    </div>
  </div>
  <div class="containerPadre2">

  </div>

</mat-toolbar> -->

<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="side">

    <mat-toolbar>
      <span>Menu</span>
      <span class="logoutbtn"></span>

      <button mat-button color="Accent" (click)="sidenav.toggle()">
        <mat-icon>arrow_forward_ios </mat-icon>
      </button>
    </mat-toolbar>
  </mat-sidenav>
  <!-- <mat-nav-list>
    <a routerLink="./listado" mat-list-item >
      <mat-icon mat-list-icon>label</mat-icon>
      <span>List Heroes</span>
    </a>
    <a routerLink="./agregar" mat-list-item >
      <mat-icon mat-list-icon>add</mat-icon>
      <span>Add Heroes</span>
    </a>
    <a routerLink="./buscar" mat-list-item >
      <mat-icon mat-list-icon>search</mat-icon>
      <span>Search Heroes</span>
    </a>
  </mat-nav-list>
 -->



</mat-sidenav-container>
 
