<div class="fixed-top">
  <mat-toolbar class="toolbar-nav boxshadow" color="">
    <div>
      
      <img src="assets/a.png" alt="" style="width: 40px; height:40px">
    </div>

    <div class="btn-menu">
      <button class="btn-fn-collapse" mat-button (click)="activarBarra()">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="menu"
        ></mat-icon>
      </button>
    </div>
    <div class="nav-menu" [ngClass]="{ activar: flag }">
        <ul class="nav"> 
          <li><a class="btn-collapse" mat-button color="basic" href="#abilites-container">Abilites</a></li>
          <!-- <li><button class="btn-collapse" mat-button color="basic">About Me</button></li> -->
          <li><a class="btn-collapse" mat-button color="basic" href="#proyects-container">Proyects</a></li>
          <li><button class="btn-collapse" mat-button color="basic" disabled>Blog</button></li>
            <li><button class="btn-collapse" mat-button color="basic" disabled>Contact</button></li>
          </ul>
    </div>
  
  </mat-toolbar>
  
