<div>
  <mat-toolbar class="toolbar-nav boxshadow" color="">
    <div>
      
      <span> Alan Cuevas Melendez</span>
    </div>

    <div class="btn-menu">
      <button class="btn-fn-collapse" mat-button (click)="activarBarra()">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="menu"
        ></mat-icon>
      </button>
    </div>
    <div class="nav-menu" [ngClass]="{ activar: flag }">
        <ul class="nav">
          <li><button class="btn-collapse" mat-button color="basic">Blog</button></li>
            <li><button class="btn-collapse" mat-button color="basic">Habilities</button></li>
            <li><button class="btn-collapse" mat-button color="basic">About Me</button></li>
            <li><button class="btn-collapse" mat-button color="basic">Proyects</button></li>
            <li><button class="btn-collapse" mat-button color="basic">Contact</button></li>
          </ul>
    </div>
  
  </mat-toolbar>
  
