<hr />
<div class="container">
  <div class="row container-welcome">
    <div
      class="col container-img-programmer col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"
    >
      <img class="img-programmers" src="assets/Programming-bro.svg" alt="" />
    </div>
    <div
      class="col container-elements-welcome col-xs-12 col-sm-0 col-md-12 col-lg-6 col-xl-6"
    >
      <h1 class="title pgray">Hi, Welcome to my website.</h1>
      <hr />
      <p class="p-welcome">
        I'm Alan Cuevas, Full-Stack developer and computer engineering student.
      </p>
      <p class="p-welcome">
        I'm passionate about technology and cybersecurity, I spend most of my time programming and learning new technologies.
      </p>
      <p class="p-welcome">
        You can find me on the following social networks, Animate and we can create cool things.      </p>
      <div class="icon-social-container">
        <div class="icon-social-item">
          <a class="btn" href="https://www.instagram.com/melendezalaan/" target="_blank">
            <img
              class="img-icons"
              src="assets/icons8-instagram-96.svg"
              alt="instagram-svg"
            />
          </a>
        </div>
        <div class="icon-social-item">
          <button class="btn">
            <img
              class="img-icons"
              src="assets/icons8-github-50.svg"
              alt="instagram-svg"
            />
          </button>
        </div>
        <div class="icon-social-item">
          <button class="btn">
            <img
              class="img-icons"
              src="assets/icons8-linkedin.svg"
              alt="instagram-svg"
            />
          </button>
        </div>
        <div class="icon-social-item">
          <button class="btn">
            <img
              class="img-icons"
              src="assets/icons8-gmail-96.svg"
              alt="instagram-svg"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
    <div class="row">
        <h2>Habilities</h2>
    </div>
    <div class="row">

    </div>
</div> -->

<div class="container container-abilites"  id="abilites-container">
  <div class="text-center mt-5 aos-init aos-animate">
    <span class="title text-center pgray"  >Abilites.</span>
  </div>
  <hr width="100%" class="pgray" style="display:flex; justify-content:center; align-items: center;" />
  <br />
  <div class="row">
    <div
      class="col-xl-4 col-bg-4 col-md-4 col-sm-12 text-center pb-5 px-4 aos-init aos-animate"
      style="transition-delay: 0s"
    >
      <div class="bg-div">
        <img class="img-cards-habilites" src="assets/programacion.png" alt="">
      </div>
      <div class="title2 pt-2"> Programming Languages </div>
      <hr width="100%" class="pgray" />
        <div class="btn-cards">
            <button class="btn btn-cards-item"> C#</button>
            <button class="btn btn-cards-item"> JavaScript</button>
            <button class="btn btn-cards-item"> NodeJs</button>
            <button class="btn btn-cards-item"> TypeScript</button>
            <button class="btn btn-cards-item"> Php</button>
            <button class="btn btn-cards-item"> Python</button>
        </div>
    </div>
    <div
      class="col-xl-4 col-bg-4 col-md-4 col-sm-12 text-center pb-5 px-4 aos-init aos-animate"
      style="transition-delay: 0.238095s"
    >
      <div class="bg-div">
        <img class="img-cards-habilites" src="assets/ux.png" alt="">

      </div>
      <div class="title2 pt-2">Front-end</div>
      <hr width="100%" class="pgray" />
      
      <div class="btn-cards">
        <button class="btn btn-cards-item"> Html5</button>
        <button class="btn btn-cards-item"> CSS3</button>
        <button class="btn btn-cards-item"> Bootstrap5</button>
        <button class="btn btn-cards-item">SASS</button>
    </div>
    </div>
    <div
      class="col-xl-4 col-bg-4 col-md-4 col-sm-12 text-center pb-5 px-4 aos-init aos-animate"
      style="transition-delay: 0.47619s"
    >
      <div class="bg-div">
        <img class="img-cards-habilites" src="assets/framework.png" alt="">

      </div>
      <div class="title2 pt-2">Frameworks</div>
      <hr width="100%" class="pgray" />
      <div class="btn-cards">
        <button class="btn btn-cards-item"> Angular</button>
        <button class="btn btn-cards-item"> React</button>
        <button class="btn btn-cards-item"> .Net</button>
        <button class="btn btn-cards-item">Laravel</button>
    </div>
    </div>
    <div
      class="col-xl-4 col-bg-4 col-md-4 col-sm-12 text-center pb-5 px-4 aos-init aos-animate"
      style="transition-delay: 0.714286s"
    >
      <div class="bg-div">
        <img class="img-cards-habilites" src="assets/db.png" alt="">

      </div>
      <div class="title2 pt-2">Databases</div>
      <hr width="100%" class="pgray" />
      <div class="btn-cards">
        <button class="btn btn-cards-item"> MySQL</button>
        <button class="btn btn-cards-item"> SQL Server</button>
        <button class="btn btn-cards-item">MongoDB</button>
    </div>
    </div>
    <div
      class="col-xl-4 col-bg-4 col-md-4 col-sm-12 text-center pb-5 px-4 aos-init aos-animate"
      style="transition-delay: 0.952381s"
    >
      <div class="bg-div">
        <img class="img-cards-habilites" src="assets/sistema-operativo.png" alt="">

      </div>
      <div class="title2 pt-2">O.S &amp; Development Tools</div>
      <hr width="100%" class="pgray" />
      <div class="btn-cards">
        <button class="btn btn-cards-item"> Git</button>
        <button class="btn btn-cards-item"> GNU/Linux</button>
        <button class="btn btn-cards-item"> Windows</button>
        <button class="btn btn-cards-item"> MacOs</button>
    </div>
    </div>
    <div
      class="col-xl-4 col-bg-4 col-md-4 col-sm-12 text-center pb-5 px-4 aos-init aos-animate"
      style="transition-delay: 0.952381s"
    >
      <div class="bg-div">
        <img class="img-cards-habilites" src="assets/cpu.png" alt="">

      </div>
      <div class="title2 pt-2">Electronic</div>
      <hr width="100%" class="pgray" />
      <div class="btn-cards">
        <button class="btn btn-cards-item"> Arduino</button>
        <button class="btn btn-cards-item"> STM-32</button>
        <button class="btn btn-cards-item"> Raspberry Pi</button>
    </div>
    </div>
  </div>
</div>


<!-- PROYECTS -->
<div class="container">
    <div class="text-center mt-5 aos-init aos-animate">
        <span class="title text-center pgray" id="proyects-container">Proyects.</span>
    </div>
      <hr width="100%" class="pgray" style="display:flex; justify-content:center; align-items: center;" />
      <br />
   
    <div class="row-proyect-container">
        <mat-card class="card-item-proyect">
            <mat-card-header class="card-item-header">
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>SILAB</mat-card-title>
              <mat-card-subtitle>ITSL</mat-card-subtitle>

            </mat-card-header>
            <!-- <hr width="100%" class="pgray" style="display:flex; justify-content:center; align-items: center;" /> -->

            <div class="container-img-card">
                <img mat-card-image class="img-cards-habilites"  src="assets/silab.png" alt="Photo of a Shiba Inu">

            </div>
            <mat-card-content>
              <p>
               Sistema para el control de prestamos en laboratorios dentro de la institucion. Dentro de este sistema se pueden ver, crear y liberar adeudos con el fin de obtener una <b>carta de no adeudo</b> para distintos tramites dentro de la institucion. 
              </p>
            </mat-card-content>
            <mat-card-actions>
                
              <button mat-button class="btn  btn-proyect-item">Read more</button>
              <button mat-button class="btn  btn-proyect-item">Repository</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card-item-proyect">
            <mat-card-header class="card-item-header">
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>HeroesApp</mat-card-title>
              <mat-card-subtitle>Proyect test.</mat-card-subtitle>

            </mat-card-header>
            <!-- <hr width="100%" class="pgray" style="display:flex; justify-content:center; align-items: center;" /> -->

            <div class="container-img-card">
                <img mat-card-image class="img-cards-habilites" src="assets/hero.jpg" alt="Photo of a Shiba Inu">

            </div>
            <mat-card-content>
              <p>
                CRUD Hero creada con el fin de testear API de super heroes. Donde podemos ver, buscar y crear un super heroe.
              </p>
            </mat-card-content>
            <mat-card-actions>
                 
              <button mat-button class="btn btn-proyect-item">Read more</button>
              <button mat-button class="btn btn-proyect-item">Repository</button>
            </mat-card-actions>
        </mat-card>
       
        
    </div>

</div>
<br>


<!-- Footer -->
<div class="container-footer">
    <div class="row-footer">
        <div>
            <span data-v-60df5c27="">© 2022 Copyright: Alan Cuevas</span>
        </div>
        <div>
            <p data-v-60df5c27="" class="m-0">Desarrollado con ❤️ &amp; con <img  src="assets/angular.png" style="width: 20px; height: 20px;"></p>
        </div>
        <!-- <div>
            <span>todos los derechos bb</span>
        </div> -->
    </div>
</div>